.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 400px;
   
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    top: 100px;
  }
  
  .speech {
    font-size: 25px;
   left: 320px;
   position: absolute;
   top: 150px;
   z-index: 3;
  }
  
  .bowser {
    width: 200px;
    left: 600px;
    position: absolute;
    top: 200px;
  }